.logo-nav {
	width: 250px;
}

.container-form {
	width: 600px;
}

.list-nama ul {
	list-style-type: none !important;
	list-style: none !important;
}

.jumbotron {
	padding: 100px;
}

.register-button button {
	width: 240px;
}

.hero {
	width: 100%;
}

.hero-img {
	width: 100%;
	height: 100%;
}

.hero-img img {
	object-fit: cover;

	height: 100%;
}

html,
body {
	max-width: 100%;
	overflow-x: hidden;
}

.footer {
	height: 170px;
	background-color: #3d566e;
	text-align: center;
	color: white;
}

/* sidebar */

.container-content {
	background-color: #e9ecef;
	height: auto;
}

#button-sidebar {
	all: unset;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: red;
	border: none;
	text-decoration: none;
}

#button-sidebar-active {
	background-color: transparent;
	font-weight: 900;
	padding: 10px;
	width: 220px;
	border: none;
}

.button-sidebar-section img {
	width: 40px;
}

.button-sidebar-section {
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid black;
	height: 55px;
	margin-top: 10px;
}

.button-sidebar-section a {
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: hotpink !important;
	width: 100%;
	height: 100%;
}

.button-sidebar-section a:hover {
	text-decoration: none;
}

.container-fluid {
	padding: 0px !important;
}

#inputGroupSelect02 {
	width: 80px;
}

/* notif */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
	background-color: #e6eaf5;
	font-family: "Roboto", sans-serif;
}
.card {
	width: 550px;

	border: none;
	border-radius: 30px;
	background-color: #597afd;
}
h6 {
	color: #000000;
}
.text {
	color: #b2c9ff;
}

.media img {
	width: 40px;
}

.pemberitahuan-magang {
	background-color: darkgray;
	padding: 20px;
	border-radius: 12px;
	margin-top: 12px;
}

.pemberitahuan-magang p {
	color: red;
}

.table-responsive table {
	width: 100px;
	overflow-x: auto;
}

.table {
	width: 100px !important;
}

#status-diterima {
	color: green;
}

#status-ditolak {
	color: red;
}
